body {
    padding-top: 25px;
    color: white;
    background-color: #000000;
    font-family: "Arial", sans-serif;
    text-align:center;
}

body, ul {
  margin: 0;
  
}

h1 {
  text-align: center;
  margin-top:30px;
}
h2 {
  text-align: center;
  margin-top:30px;
}
    
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
  }
  
  li {
    float: left;
    
    
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .award-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .awards {
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: bolder;
    width: 150px;
    height:250px;
    padding-left:10px;
    padding-right:10px;
    margin: 15px;
    display: flex;
    align-items: left;
    padding-top:25px;
    justify-content: center;
    background-color: #005da6;
  }
  .team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .team {
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: bolder;
    max-width: 250px;
    min-width: 225px;
    margin: 15px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .robot-photos {
  
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width:300px
   

  }
  




  li a:hover {
    background-color: #ffee00;
  }

  ul {
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
  }
  .contact-buttons {
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  
  }
  .button {
    background-color: #333; /* Green */
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    margin: 0 auto; /* Center the button */
}

.button:hover {
    background-color: #ffee00; /* Green */
    color: rgb(0, 0, 0);
}

.address {

  text-align:center;
  margin:15px;

}

.maps {

  display:block;
  margin: 0 auto;
  border-radius:50px;

}

.favicon {

  width:30px;
  padding-left:10px;
  padding-right:10px;
  padding-top:7.5px;
  padding-bottom:4px;

}